/* Hide scrollbar for Chrome, Safari and Opera */
.pulledChamp::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.pulledChamp {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.pulledChamp{
    display: none;
    width: auto;
    height: 265px;
    text-align: left;
    padding-top: 10px;
    color:rgb(230, 230, 230);
    background-color: rgb(55, 55, 55);
    outline: 3px solid rgb(41, 41, 41);
    font-size: 22px;
    overflow: scroll;
    scroll-behavior: smooth;
    text-align: justify;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.histChamp{
    color:rgb(210, 210, 210);
    background-color: rgb(61, 61, 61) !important;
    font-size: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-disabled{
    cursor: not-allowed;
    pointer-events: none;
    color: rgb(129, 129, 129);
}
.dupe{
    background-color: rgb(0, 0, 255);
}