.pulledChamp{
    color:rgb(230, 230, 230);
    background-color: rgb(61, 61, 61) !important;
    font-size: 22px;
}
.histChamp{
    color:rgb(210, 210, 210);
    background-color: rgb(61, 61, 61) !important;
    font-size: 20px;
}