body{
    background-color: rgb(61, 61, 61);
    font-family: "Fira Code",monospace;
    font-size: 20px;
}
p{
    color:rgb(230, 230, 230);
    background-color: rgb(61, 61, 61) !important;
}
h2{
    padding: 5px;
    color:rgb(250, 157, 18);
    background-color: rgb(61, 61, 61) !important;
}
.phc{
    text-align: center;
}
button {        
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Fira Code",monospace;
    font-size: 20px;
    border-color: rgba(0, 0, 0, 0);
    border: 2px solid;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(206, 206, 206);
    border-radius: 5px;
    margin-bottom: 7px;
    outline: none;
}
button:active{
    transform: scale(0.98);
    background-color: rgb(105, 105, 105);
}
.note{
    text-align: center;
    font-family: "Fira Code";
    font-size: 14px;
    color: rgb(206, 206, 206);
}